<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">apycazo.github.io</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li> -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Codex <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://github.com/apycazo/codex/tree/master/codex-spring-base">spring base</a></li>
                        <li><a href="https://github.com/apycazo/codex/tree/master/codex-spring-data">spring data</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="https://github.com/apycazo/codex/tree/master/codex-spring-rest">spring rest</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">AngularJS <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/angular/base">Basics</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
