

<div class="container-fluid corporate-info" id="basecamp">
    <h3 style="text-align:center; color:white">CAMPAMENTO BASE</h3>
    <!-- left divider, corporate image and links -->
    <div class="col col-md-4">
        <!-- Corporate logo -->
        <img src="resources/hunters-logo-big.png" alt="Hunters Productions">
        <!-- Links -->
        <div class="social">
            <span class="fa-stack fa-lg show-pointer">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
            <span class="fa-stack fa-lg show-pointer">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
            <span class="fa-stack fa-lg show-pointer">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-vimeo fa-stack-1x"></i>
            </span>
            <span class="fa-stack fa-lg show-pointer" ng-click="openLink('https://www.youtube.com/watch?v=tuRZoZuMWjQ')">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-youtube-play fa-stack-1x"></i>
            </span>
        </div>
    </div>

    <!-- Right divider, info and contact -->
    <div class="col col-md-8">
        <div class="center-content">
            <div>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-map-marker fa-stack-1x"></i>
                </span>
                <span style="vertical-align:middle">Marqués de Urquijo,15. 6ºB. 28008. Madrid.</span>
            </div>
            <div>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-phone fa-stack-1x"></i>
                </span>
                <span style="vertical-align:middle">Teléfono: +34 911.437.699 / +34 669.703.126 / +34 696.725.056</span>
            </div>
            <div>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-fax fa-stack-1x"></i>
                </span>
                <span style="vertical-align:middle">Fax: +34 911.437.699</span>
            </div>
            <div>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-envelope fa-stack-1x"></i>
                </span>
                <span style="vertical-align:middle">produccion@huntersproducciones.com</span>
            </div>
        </div>
    </div>
</div>
