<div class="container-fluid image-gallery" id="gallery">

    <div ng-repeat="dataRow in portfolio">
        <!-- angular driven data -->
        <div class="row">
            <div class="col col-md-10 col-md-offset-1">
                <div class="row">
                    <div ng-repeat="(entry, dataCell) in dataRow">

                        <div class="col col-md-4">
                            <div class="thumbnail">
                                <img src="{{dataCell.thumbnail}}">
                                <div class="caption">
                                    <h3>{{dataCell.title}}</h3>
                                    <p>{{dataCell.desc}}</p>
                                </div>
                                <div class="center-me">

                                    <button
                                        ng-if="dataCell.video"
                                        type="button"
                                        class="btn btn-primary"
                                        ng-click="selectEntry(dataCell)"
                                        data-toggle="modal"
                                        data-target=".modal-for-video">Video</button>

                                    <button
                                        ng-if="dataCell.gallery && dataCell.gallery.length > 0"
                                        type="button"
                                        class="btn btn-corporate"
                                        ng-click="$('.modal-for-gallery').modal('hide'); selectEntry(dataCell);"
                                        data-toggle="modal"
                                        data-target=".modal-for-gallery">Galería</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para video -->
    <!-- 4:3 aspect ratio -->
    <!-- <iframe width="854" height="480" src="https://www.youtube.com/embed/T70fY8TzJNs" frameborder="0" allowfullscreen></iframe> -->
    <div class="modal fade modal-for-video" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" ng-src="{{videoSource(entry.video)}}" ng-click="closeModal()" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para galeria -->
    <div class="modal fade modal-for-gallery" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" ng-click="closeModal()">

                <div ng-repeat="galleryEntry in entry.gallery">
                    <div class="row">
                        <img src="{{galleryEntry}}">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
