<div class="container-fluid corporate-statement corporate-services" id="services">

    <h3>NUESTROS SERVICIOS</h3>
    <h4>Gracias a la experiencia obtenida durante todos estos años de trabajo, nos hemos dado cuenta que la mejor manera de ofrecer un producto ajustado a las necesidades del cliente es mediante consultoría.</h4>
    <h4>De ésta forma conseguimos un producto eficaz en calidad, precio y tiempo que cumpla los requisitos de cada nuevo proyecto.</h4>

    <br>

    <!-- First service row -->
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-4 concept-display">
                    <div class="icon-holder">
                        <i class="fa fa-2x fa-briefcase circular-border" aria-hidden="true"></i>
                    </div>
                    <div class="content-holder">
                        <h5 class="black-font">Consultoría</h5>
                        <p>Examinamos las necesiades de cada cliente y producto para conseguir la máxima satisfacción.</p>
                    </div>
                </div>
                <div class="col-md-4 concept-display">
                    <div class="icon-holder">
                        <i class="fa fa-2x fa-lightbulb-o circular-border" aria-hidden="true"></i>
                    </div>
                    <div class="content-holder">
                        <h5>Creatividad</h5>
                        <p>Aportamos soluciones creativas a todos los proyectos que se nos plantean.</p>
                    </div>
                </div>
                <div class="col-md-4 concept-display">
                    <div class="icon-holder">
                        <i class="fa fa-2x fa-pencil fa-flip-horizontal circular-border"></i>
                    </div>
                    <div class="content-holder">
                        <h5>Diseño</h5>
                        <p>Apoyamos el trabajo creativo con aportaciones visuales para enriquecer el producto.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Second service row -->
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-4 concept-display">
                    <div class="icon-holder">
                        <i class="fa fa-2x fa-film circular-border" aria-hidden="true"></i>
                    </div>
                    <div class="content-holder">
                        <h5>Producción</h5>
                        <p>Desarrollamos servicios integrales de producción audiovisual.</p>
                    </div>
                </div>
                <div class="col-md-4 concept-display">
                    <div class="icon-holder">
                        <i class="fa fa-2x fa-desktop circular-border" aria-hidden="true"></i>
                    </div>
                    <div class="content-holder">
                        <h5>Post Producción</h5>
                        <p>Servicio completo de post producción. Desde la edición y retoque de color, hasta efectos especiales.</p>
                    </div>
                </div>
                <div class="col-md-4 concept-display">
                    <div class="icon-holder">
                        <i class="fa fa-2x fa-file-text circular-border"></i>
                    </div>
                    <div class="content-holder">
                        <h5>Formatos</h5>
                        <p>Buscamos soluciones a nuevas necesidades y formatos publicitarios de contenido audiovisual.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
