<div class="container-fluid corporate-team" id="team">
    <h3 class="section-title">EQUIPO DE EXPLORADORES</h3>

    <div class="row">
        <!-- Kiko -->
        <div class="col-xs-3 col-xs-offset-3">
            <img src="resources/team-kiko.png">
            <h3>Kiko Pedreño</h3>
            <h4>Realizador</h4>
            <p>Su afán de experimentar narrativamente y su particular visión estética le llevaron a introducirse en el mundo de la publicidad, donde ha desarrollado su carrera profesional trabajando como realizador frelance para diferentes productoras. Maneja todos lo generos aunque la comedia es su debilidad.</p>
        </div>

        <!-- Jorge -->
        <div class="col-xs-3">
            <img src="resources/team-jorge.png">
            <h3>Jorge Uribe</h3>
            <h4>Realizador de postproducción</h4>
            <p>Tras una breve aventura en cine y en EE.UU., se introdujo en el mundo de la televisión, en el que se desarrolló como editor y postproductor durante más de 12 años. Todo ello le llevó a explorar la composición y los desarrollos de motion graphics, 3D y estereoscopía.</p>
            <!-- Social networks -->
            <div class="social">
                <span class="fa-stack fa-lg show-pointer" ng-click="openLink('http://es.linkedin.com/in/jugglobal/')">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x"></i>
                </span>

                <span class="fa-stack fa-lg show-pointer" ng-click="openLink('https://vimeo.com/jugpospo')">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-vimeo fa-stack-1x"></i>
                </span>

                <span class="fa-stack fa-lg show-pointer" ng-click="openLink('https://www.youtube.com/user/globalJUG')">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-youtube-play fa-stack-1x"></i>
                </span>
            </div>
        </div>
    </div>
</div>
