<div id="testimonials" class="testimonials carousel slide parallax" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#testimonials" data-slide-to="0" class="active"></li>
        <li data-target="#testimonials" data-slide-to="1"></li>
        <li data-target="#testimonials" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="carousel-caption">
                <!-- <h3>TESTIMONIALES</h3> -->
                <h4>“Profesional y creativo, meticuloso e intuitivo. Un trabajo de calidad, hecho sin complicaciones.”</h4>
                <h4>- Luis Ignacio González</h4>
            </div>
        </div>

        <div class="item">
            <div class="carousel-caption">
                <!-- <h3>TESTIMONIALES</h3> -->
                <h4>“Rapidez y excelentes resultados en fechas de entrega muy ajustadas. Iniciativa y solvencia ante los imprevistos, buscando siempre finalizar el trabajo en calidad y tiempo.”</h4>
                <h4>- Federico de Juan</h4>
            </div>
        </div>

        <div class="item">
            <div class="carousel-caption">
                <!-- <h3>TESTIMONIALES</h3> -->
                <h4>“Gran calidad a buen precio hecho en tiempo record.”</h4>
                <h4>- José E.Salmerón</h4>
            </div>
        </div>
    </div>
    
</div>
